.lmstudio-home-pointer
.config/fish/functions/
.config/fish/completions/
.config/fish/conf.d/
.config/fish/functions/_*
.zcompdump*
.ssh/
.mailcap
.local/share/recently-used.xbel
.zsh_sessions/
.zsh_history
.gnupg/
.homebrew/
.tart/
.bash_history
.iterm2/
*.desktop
Library/
nltk_data/
.codex/
.bundle/
.cups/
.local/share/icons/
.local/state/
.lmstudio/
OneDrive
Applications/
go/
Public/
Pictures/
Documents/
Movies/
Downloads/
My Games/
Music/
Desktop/
.npm/
.gem/
.cache/
.Trash/
